body {
    background-color: rgb(86, 74, 74);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 800px;
    height: 50px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 5px;
}

h1 {
    text-align: center;
    line-height: 50px;
}

.main {
    width: 800px;
    height: 200px;
    background-color: inherit;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.tasks {
    margin: 10px;
    background-color: aliceblue;
    width: 780px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
input {
    width: 400px;
}

.input-wrapper {
    display: inline-block;
}

.button-wrapper {
    display: inline-block;
}